@import url {'https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'};

tbody{
    counter-reset: section;
    font-family: 'Times New Roman', Times, serif;

}

tbody>tr>td:first-child ::before{
    counter-increment: section;
    content: counter(section);
}
img:hover{
    opacity: 1;
    filter: blur(5px);
}

.border-md {
    border: 1px solid black;
    border-radius: 5px;
    padding : 10px;
}

.shadow {
    box-shadow: 5px 5px 5px 5px rgba(8, 27, 36, 0.7)
}
